<!DOCTYPE html>
<html>
<head>
  <title>WinepEaring</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav-bar">
	<div id="nav-bar-items">
		<ul>
			<li>
		<% if current_user %>
		Currently logged in as <%= current_user.email %>. Not you? 
		<%= link_to 'Log out', destroy_user_session_path %>
	<% else %>
		<%= link_to 'Log in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %>
	<% end %>
			</li>
			<li><%= link_to 'Home', home_path %> </li>
			<li>About</li>
			<li>Contact Us</li>
		</ul>
	</div>
</div>
<%= yield %>

</body>
</html>
